.anuncio {
    background-color: azure;
}

.anuncio__titulo{
    font-style: italic;
    padding: 5px;
}

.anuncio__titulo--uppercase{
    text-transform: uppercase;
    padding: 10px;
}

#principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}